<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hikiny.api</string>
	<key>connections</key>
	<dict>
		<key>560A7E42-6169-4E6E-8DAE-E029A1914D39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E02B6733-6046-465F-BCB0-63D8F834B54D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC89B63A-ECEC-47A6-8CDE-5E1BBABCD4F4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>直接下载</string>
			</dict>
		</array>
		<key>B2D23B49-F381-4056-9847-B1701BB8CB3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6008EB5-F1A7-46E1-AAD2-115EABEC091B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>磁力下载，需等待10s左右...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E02B6733-6046-465F-BCB0-63D8F834B54D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E02B6733-6046-465F-BCB0-63D8F834B54D</key>
		<array/>
		<key>E6008EB5-F1A7-46E1-AAD2-115EABEC091B</key>
		<array/>
		<key>F4EE9C2E-4675-40F3-9A4A-6A0FBD61FF0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E02B6733-6046-465F-BCB0-63D8F834B54D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC89B63A-ECEC-47A6-8CDE-5E1BBABCD4F4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>直接下载</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kiny</string>
	<key>description</key>
	<string>Download cracked Mac application by keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cracked Mac Application Downloader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在搜索“{query}”中，需等待约10s...</string>
				<key>script</key>
				<string>python tr.py {query}</string>
				<key>subtext</key>
				<string>请输入软件名</string>
				<key>title</key>
				<string>Mac Torrent 搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2D23B49-F381-4056-9847-B1701BB8CB3B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python tr_download.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6008EB5-F1A7-46E1-AAD2-115EABEC091B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E02B6733-6046-465F-BCB0-63D8F834B54D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>macx</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在搜索“{query}”中...</string>
				<key>script</key>
				<string>python mx.py {query} --ajax</string>
				<key>subtext</key>
				<string>请输入软件名</string>
				<key>title</key>
				<string>Macx 软件搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4EE9C2E-4675-40F3-9A4A-6A0FBD61FF0A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python mx_download.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC89B63A-ECEC-47A6-8CDE-5E1BBABCD4F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>macx+</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在搜索“{query}”中，需等待约5s...</string>
				<key>script</key>
				<string>python mx.py {query}</string>
				<key>subtext</key>
				<string>请输入软件名</string>
				<key>title</key>
				<string>Macx 软件搜索+ （详细）</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>560A7E42-6169-4E6E-8DAE-E029A1914D39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>560A7E42-6169-4E6E-8DAE-E029A1914D39</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>B2D23B49-F381-4056-9847-B1701BB8CB3B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CC89B63A-ECEC-47A6-8CDE-5E1BBABCD4F4</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E02B6733-6046-465F-BCB0-63D8F834B54D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E6008EB5-F1A7-46E1-AAD2-115EABEC091B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4EE9C2E-4675-40F3-9A4A-6A0FBD61FF0A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hikiny.com</string>
</dict>
</plist>
